version: '3.8'

services:
  main_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_main_app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - /srv/samba/share/source_cherkessk:/files:rw
    networks:
      - app_network

networks:
  app_network:
    driver: bridge